.contentDiv {
    text-align: center;
}

input {
    font-size: 20px;
    margin-bottom: 7px;
    width: 250px;
}

button {
    margin-top: 20px;
    font-size: 20px;
    width: 300px;
}

.signOut{
    margin-top: 1px;
}

.basket{
    margin-top: 20px;
}