body
{
    /*text-align: center;*/
    padding: 0;
}
.Product {
    /*border: solid black 1px;*/
    width: 350px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.productA:link, a:visited {
    margin-top:20px;
    width: 300px;
}
