body {
    color: #f5ce40;
    background-image: url('Img/dark-triangles.png');
    background-repeat: repeat;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.Header {
    border-bottom: double 1px #f5ce40;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.HeaderInline{
    display: inline-block;
    margin-top: 5px;
    height: 60px;
}

.Logo {
    position: absolute;
    left: 0;
    top: 0;
}

.Menu {
    /*margin-top: 5px;*/
    margin-left: 10px;
}

.CenterArray {
    text-align: center;
}

.Center {
    margin: auto;
}

.TextCenter {
    text-align: center;
}

.mainA:link, .mainA:visited {
    background-color: #f5ce40;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 5px;
}

a:link, a:visited {
    background-color: #f5ce40;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
}

.UserDiv {
    width: 375px;
    border-right: solid #f5ce40 1px;
    text-align:center;
}

.UserA:link, .UserA:visited {
    border: solid gray 1px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
    height: 18px;
    width: 200px;
    font-size: 20px;
    color: #f5ce40;
}
