
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/GetProducts.css" rel="stylesheet" />
    <title>GetProducts</title>
</head>
<body>
    <div class="MiddleFather">
        <div class="Middle Center Categories">
            <a class="Category" href="~/Product/GetProducts/">Все</a>
            @foreach (var i in ViewBag.Categories)
            {
                if (i.Id == ViewBag.ThisCategory)
                {
                    <a class="CurrentCategory Category" href="~/Product/GetProducts/@i.Id">-> @i.Name</a>
                }
                else
                {
                    <a class="Category" href="~/Product/GetProducts/@i.Id">@i.Name</a>
                }
            }
        </div>
        <div class="Middle Products Center">
            @foreach (var i in ViewBag.Products)
            {
                <div class="Center Product">
                    <span>Имя: </span><span>@i.Name</span><br />
                    <span>Цена: </span><span>@i.Price</span><br />
                    <a href="~/Product/GetProduct/@i.Id">Просмотреть</a>
                </div>
            }
        </div>
    </div>
</body>
</html>
