
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div>
        <form action="~/AdminPanel/CreateCategory" method="post">
            <input type="text" name="Name" value="" placeholder="Введите имя" /><br />
            <button type="submit">Создать</button><br />
        </form>
    </div>
</body>
</html>
