
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AddForm.css" rel="stylesheet" />
    <link href="~/Content/DropDownMenu.css" rel="stylesheet" />
    <link href="~/Content/SelectStyle.css" rel="stylesheet" />
    <title>AddProduct</title>
</head>
<body>
    <div>
        <div><h1>Добавление продукта</h1></div>
        <form action="~/AdminPanel/CreateProduct" method="post">
            <input type="text" name="Name" value="" placeholder="Введите имя" /><br />
            <input type="number" name="Price" value="" placeholder="Введите цену" /><br />
            <span name="CategoryId" class="custom-dropdown big">
                <select>
                    @foreach (var i in ViewBag.Categories)
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                </select>
            </span><br />
            <span name="ProducerId" class="custom-dropdown big">
                <select>
                    @foreach (var i in ViewBag.Producers)
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                </select>
            </span><br />
            <button type="submit">Создать</button><br />
        </form>
    </div>
</body>
</html>
