
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AddForm.css" rel="stylesheet" />
    <title>AddRole</title>
</head>
<body>
    <div>
        <div><h1>Добавление роли</h1></div>
        <form action="~/AdminPanel/CreateRole" method="post">
            <input type="text" name="Name" value="" placeholder="Введите имя" /><br />
            <button type="submit">Создать</button><br />
        </form>
    </div>
</body>
</html>
