
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/HomeIndex.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="Center">
        <h1>Админ панель</h1>
    </div>
    <div>
        <a class="Center" href="~/Product/GetProducts">Список продуктов</a><br /><br />

        <a class="Center" href="~/AdminPanel/AddProduct">Добавить продукт</a><br />
        <a class="Center" href="~/AdminPanel/AddProducer">Добавить производителя</a><br />
        <a class="Center" href="~/AdminPanel/AddCategory">Добавить категорию</a><br />
        <a class="Center" href="~/AdminPanel/AddRole">Добавить роль</a><br />
    </div>
</body>
</html>
