
@{
    ViewBag.Title = "ShowClaims";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="contentDiv TextCenter"  >
        <h2>Ваша страна проживания</h2>
        <h3>@ViewBag.Country</h3>
        <h2>Дата рождения</h2>
        <h3>@ViewBag.BirthDate</h3>
    </div>

