@using AspNet_FirstLesson.Models;
@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AddForm.css" rel="stylesheet" />
    <title>SignUp</title>
</head>
<body>
    <div>
        <div><h1>Регистрация</h1></div>
        <form action="~/User/SignUp" method="post">
            <input type="text" name="Name" value="" placeholder="Введите имя" /><br />
            <input type="text" name="Login" value="" placeholder="Введите логин" /><br />
            @Html.ValidationMessageFor(model => model.Login)<br/>
            <input type="text" name="Password" value="" placeholder="Введите пароль" /><br />
            @Html.ValidationMessageFor(model => model.Password)<br/>
            <input hidden type="Number" name="RoleId" value="3" placeholder="Введите id роли" /><br />
            <button type="submit">Создать</button><br />
        </form>
    </div>
</body>
</html>
