
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessfulRegistration</title>
</head>
<body>
    <div class="CenterArray">
        <div class="Center">
            <h1>Регистрация успешно завершена</h1>
        </div>
        <div class="Center">
            <h2>Добро пожаловать @ViewBag.UserName</h2>
        </div>
        <a class="Center" href="~/Home/Index">К главной</a>
    </div>
</body>
</html>
