
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AddForm.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="contentDiv">
        <h2>@User.Identity.Name</h2><br />
        <span>@ViewBag.User.Email</span><br />
        <span>@ViewBag.Role</span><br />
        <a class="basket" href="~/User/Basket">Корзина</a><br />
        <a class="signOut" href="~/User/SignOut">Выйти</a>
    </div>
</body>
</html>